body {
    font-family: "Montserrat", Arial;;
}

#title {
 background-color: #ff4c68;
 color: white;
}   

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: "Montserrat-Black", Arial;
    size: 3.5em;
    line-height: 1.5;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
}

h2 {
    font-family: "Montserrat-Bold", Arial;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: "Montserrat-Bold", Arial;
    font-size: 3rem;
    line-height: 1.5;
}

p{
    color: #8f8f8f;
}


.rotateImg {
    transform: rotate(20deg);
    max-width: 60%;
    height: auto;
}

/* Nav Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    /* font-weight: bold; */
}

.nav-item {
    padding: 0 18px;;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}



.download-button {
    margin: 5% 3% 5% 0;
}

button {
    margin-right: 10px;
    margin: 5% 3% 5% 0;
}

.icon-color {
    color: #EF8172;
}

.iconImage{
    margin-bottom: 5%;
}

.icon:hover {
    transition: color 1s;
    color: #ff4c68;
    }

.features-margin {
    margin: 5%;
}

/* Testimonial Section */
#testimonials{
    padding: 7% 15%;
    text-align: center;
    color: white;
    background-color: #EF8172;
}